<!DOCTYPE HTML>
<html>
<head>
    <title>Spring Boot: делаем простое веб приложение на Java (простой сайт)</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
    <div>hello, {{name}}</div>
</body>
</html>