<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security Example </title>
</head>
<body>
Add new user
{{#message}}
    {{message}}
{{/message}}
<form method="post" action="/registration">
    <div><label> New User login : <input type="text" name="login"/> </label></div>
    <div><label> New Password: <input type="password" name="password"/> </label></div>
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <div><input type="submit" value="Register new user"/></div>
</form>
</body>
</html>